@font-face {
  font-family: Chrono;
  src: url(font/Chrono.ttf);
}

@font-face {
  font-family: ChronoPixel;
  src: url(font/ChronoType.otf);
}

html {
  background: #000000 url("img/bgAbout.png") no-repeat fixed center center;
  background-size: cover;
}

body {
  border: solid;
  background-color: rgb(138, 132, 132);
  background-image: url(img/textboxloop.png);
  color: #ffffff;
  font-family: "Chrono", sans-serif;
  margin: 20px auto;
  width: 600px;
  border: 24px solid transparent;
  padding: 15px;
  border-image: url(img/border.png) 30 round;
}

p {
  font-size: 25px;
  margin-top: 10px;
  font-style: normal;
}

img {
  width: 600px;
}

hr {
  width: 300px;
}

a {
  color: #25a8c9;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-size: 40px;
}

h2 {
  color: #ffffff;
  font-family: "ChronoPixel";
  font-size: 40px;
  text-align: center;
  margin: 0px;
}

h3 {
  font-size: 40px;
  margin: 0;
}

/* used for navigation */
.navigationmain {
  padding: 10px;
}

#navcurrent {
  color: red;
  text-decoration: underline;
}

.nav {
  background-color: transparent;
  border: none;
  font-family: "ChronoPixel", sans-serif;
  font-size: 48px;
  padding: 1px 50px 1px 0px;
  color: #ffffff;
}

.nav:hover {
  background-image: url(img/cursorsmallreverse.png);
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

.float {
  float: left;
  width: 400px;
}

.logo {
  width: 400px;
}

.logo:hover {
  content: url(img/logohover.png);
}

.right {
  text-align: right;
}

/* other classes/ids */
.audioBox {
  font-style: normal;
  font-family: "ChronoPixel";
  color: #ffffff;
  border: 24px solid;
  border-image: url(img/borderBlue.png) 30 round;
  background-image: url(img/textboxloopBlue.png);
  text-align: center;
  font-size: 16px;
  font-family: 'Chrono';
}

.tab {
  overflow: hidden;
  font-style: normal;
  font-family: "ChronoPixel";
  color: #ffffff;
  border: 24px solid;
  border-image: url(img/borderBlue.png) 30 round;
  background-image: url(img/textboxloopBlue.png);
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'ChronoPixel';
  font-size: 25px;
  border-radius: 10px;
  padding: 5px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgba(201, 201, 201, 0.5);
}

.tab button:active {
  background-color: rgba(0, 255, 255, 0.5);
  transition: 0s;
}

.tabcontent {
  display: none;
  font-style: normal;
  font-family: "ChronoPixel";
  color: #ffffff;
  border: 24px solid;
  border-image: url(img/borderBlue.png) 30 round;
  background-image: url(img/textboxloopBlue.png);
  float: left;
}

.h1box {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 20px;
}

.center {
  text-align: center;
}

.caption {
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}

.centercaption {
  font-size: 16px;
  text-align: center;
  font-family: 'Chrono';
  margin-top: 20px;
}

.charimg {
  float: left;
  width: 200px;
}