html {
  background: black;
}

@font-face {
  font-family: Chrono;
  src: url(font/Chrono.ttf);
}

div {
  border: 24px solid transparent;
  background-color: rgb(138, 132, 132);
  background-image: url(img/textboxloop.png);
  color: #ffffff;
  font-family: "Chrono", sans-serif;
  margin: auto;
  width: 215px;
  padding: 0px 20px;
  border-image: url(img/border.png) 30 round;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

p {
  font-size: 25px;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

video {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}